<section ng-init="verifConnect()">
	<h2> Page de recherche d'un m&eacute;dia</h2>
	
	<button type="button" ng-click="tenterAccesCreation()">Cr&eacute;er nouveau m&eacute;dia</button><br>
	<label for="champTitre">Titre :</label>
	<input type="text" name="champTitre" ng-model="champTitre" /><br>
	<label for="champAuteur">Auteur :</label>
	<input type="text" name="champAuteur" ng-model="champAuteur" /><br>
	<label for="selectType"> Multiple select: </label><br>
	<select name="multipleSelect" ng-model="selectType">
	  <option value="">-</option>
	  <option value="livre">Livre</option>
	  <option value="cd">CD</option>
	  <option value="dvd">DVD</option>
	</select><br>
	
	
	<button type="button" ng-click="majVariableRecherche()">Recherche</button>
	
	<table>
	
					
		<tr>
			<th ng-click="trier('titre',{lmc})">Titre</th>
			<th ng-click="trier('type',{lmc})">Type</th>
			<th ng-click="trier('auteur',{lmc})">Auteur</th>
			<th ng-click="trier('emprunteurs',{lmc})">Emprunteur</th> 
			<th ng-click="trier('dateRetour',{lmc})">Date de retour</th>
		</tr> 
		
		<tr ng-repeat="media in listeMedias | filter:{auteur:rechercheAuteur} | filter:{type:rechercheType} | filter:{titre:rechercheTitre}">
				<td><a ng-href="#/visualisation_media/{{media.id}}">{{media.titre}}</a></td>
				<td ng-bind="media.type"></td>
				<td ng-bind="media.auteur"></td>
				<td ng-bind="media.emprunteur"></td>
				<td ng-bind="media.dateRetour"></td>
			
		</tr>
	</table>

</section>