<section ng-init="verifConnect()">
	<div>

		<h2>Page de visualisation de {{media.titre}}</h2>
		</br> </br>
		
		<div>
		<label>ID</label>
			<input ng-model="media.id" ng-disabled="true"></input>
		</div>
		<div>
		<div>
		<label>Titre</label>
			<input ng-model="media.titre" ng-disabled="!modifierOK"></input>
		</div>
		<div>
		<label>Auteur</label>
			<input ng-model="media.auteur" ng-disabled="!modifierOK"></input>
		</div>
		<div>
		<label>Type</label>
			<input ng-model="media.type" ng-disabled="!modifierOK"></input>
		</div>
		
		<button id="Modifier" ng-click="unlockModifier()">Modifier</button>
		<button id="Sauver" ng-click="sauver()" ng-show="modifierOK" ng-disabled="!modifierOK">Sauver</button>

	</div>
</section>